
<div class="infinity-scroll-wrapper">
  <div class="infinity-scroll-content-left" *ngFor="let skill of skillList1">
    <div class="skill-item" *ngFor="let skillItem of skillList1">
      <img [src]="skillItem.icon" [alt]="skillItem.name" class="skill-icon">
      <p>{{ skillItem.name }}</p>
    </div>
  </div>
</div>
  
<div class="infinity-scroll-wrapper">
  <div class="infinity-scroll-content-right" *ngFor="let skill of skillList2">
    <div class="skill-item" *ngFor="let skillItem of skillList2">
      <img [src]="skillItem.icon" [alt]="skillItem.name" class="skill-icon">
      <p>{{ skillItem.name }}</p>
    </div>
  </div>
</div>
  
<div class="infinity-scroll-wrapper">
  <div class="infinity-scroll-content-left" *ngFor="let skill of skillList3">
    <div class="skill-item" *ngFor="let skillItem of skillList3">
      <img [src]="skillItem.icon" [alt]="skillItem.name" class="skill-icon">
      <p>{{ skillItem.name }}</p>
    </div>
  </div>
</div>
  
<div class="infinity-scroll-wrapper">
  <div class="infinity-scroll-content-right" *ngFor="let skill of skillList4">
    <div class="skill-item" *ngFor="let skillItem of skillList4">
      <img [src]="skillItem.icon" [alt]="skillItem.name" class="skill-icon">
      <p>{{ skillItem.name }}</p>
    </div>
  </div>
</div>
  
<div class="infinity-scroll-wrapper">
  <div class="infinity-scroll-content-left" *ngFor="let skill of skillList5">
    <div class="skill-item" *ngFor="let skillItem of skillList5">
      <img [src]="skillItem.icon" [alt]="skillItem.name" class="skill-icon">
      <p>{{ skillItem.name }}</p>
    </div>
  </div>
</div>
  
  
<div class="infinity-scroll-wrapper">
  <div class="infinity-scroll-content-right" *ngFor="let skill of skillList6">
    <div class="skill-item" *ngFor="let skillItem of skillList6">
      <img [src]="skillItem.icon" [alt]="skillItem.name" class="skill-icon">
      <p>{{ skillItem.name }}</p>
    </div>
  </div>
</div>
  
  