.infinity-scroll-wrapper {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 30px;
  border-radius: 15px;
}

.infinity-scroll-content-left {
  display: flex;
  white-space: nowrap;
  animation: scroll-left 100s linear infinite;
}

.infinity-scroll-content-right {
  display: flex;
  white-space: nowrap;
  animation: scroll-right 100s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%); 
  }
}

.skill-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
  padding: 20px 30px;
  min-width: fit-content;
  background-color: #42464d; 
  border-radius: 12px;
  font-size: 21px;
  color: white;
  margin: 0 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  cursor: pointer;
  object-fit: cover;
}

.skill-item:hover {
  transform: translateY(-5px); /* Lichte verhoging */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Schaduw wordt sterker */
  background-color: #565b63; /* Kleurtint iets lichter bij hover */
}
/* 
.skill-item:hover {
  transform: scale(1.05);
} */

.skill-icon {
  min-width: 32px;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

p {
  margin: 0;
}
