.ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px white solid;
    position: fixed;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    z-index: 99999;
}
  