.fixed-container {
    pointer-events: none; /* Klikken en hoveren worden doorgelaten naar onderliggende inhoud */
}

.fixed-container button,
.fixed-container a {
    pointer-events: auto; /* Interactie mogelijk op specifieke elementen binnen de vaste container */
}

.magnet-button {
    position: relative;
    z-index: 99998;
}

.magnet-button.active {
    color: #FFF;
    font-weight: bold;
}

.gradient-black-to-transparent-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* of w-screen voor volledige breedte */
    height: 30vh; /* of h-screen voor volledige hoogte */
    background: linear-gradient(to bottom, #1C1F24, #1C1F2400);
    transform: translateY(-100px);
}

.socials-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: fit-content; 
    height: 180px;
    z-index: 99;
    transform: translateY(0px);
    transform: translateX(45px);
}

.scroll-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5vw;
    height: 115px;
    transform: translateY(0px);
    transform: translateX(-45px);
}

@media screen and (max-width: 768px) {
    .socials-indicator {
        transform: translateX(20px);
        height: 160px;
    }

    .scroll-indicator {
        width: 8vw;
        height: 85px;
    }
}

.scroll-content {
    display: flex;
    width: fit-content;
    gap: 3px;
    transform: rotate(90deg) translateY(-9px);
    margin-right: 10px;
}

.gradient-black-to-transparent-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background: linear-gradient(to bottom, #1C1F2400, #1C1F24);
    transform: translateY(100px);
  }

  .section.scroll-indicator {
    position: absolute;
    bottom: calc(5px + env(safe-area-inset-bottom));
    right: 0;
    z-index: 50;
    transform: translateY(0px);
}