.fixed-container {
    pointer-events: none; /* Klikken en hoveren worden doorgelaten naar onderliggende inhoud */
}

.fixed-container button,
.fixed-container a {
    pointer-events: auto; /* Interactie mogelijk op specifieke elementen binnen de vaste container */
}

.magnet-button {
    position: relative;
    z-index: 99998;
}

.magnet-button.active {
    color: #FFF;
    font-weight: bold;
}