<section id="welkom" class="w-screen h-screen bg-background_dark-0">
    <div class="flex flex-col w-full h-full justify-center pl-4 sm:pl-8 md:pl-[90px] lg:pl-[200px] items-center md:items-start">
        <p class="text-primary-0 mobileTitle1 md:desktopTitle1 text-center md:text-left mb-3 md:mb-0">
            Welcome
        </p>
        <p class="mobileTitle2 text-white-0 font-semibold w-full sm:w-3/4 md:w-3/4 lg:w-full xl:w-full text-center md:text-left md:desktopTitle2">
            Hi, I'm <span id="typed-text" class="text-primary-0"></span>
        </p>
        <p class="mobileTitle3 md:desktopTitle3 w-[280px] md:w-[680px] text-gray-0 text-center md:text-left">
            I am a Full Stack Web Developer based in Belgium. I design and develop experiences that make people's lives easier.
        </p>
        <!-- Je component HTML bestand -->
        <button (click)="applyRipple($event)" class="magnet-button bg-primary-0 rounded-full w-fit px-4 sm:px-6 py-2 font-semibold mt-5 cursor-pointer text-center relative overflow-hidden">
            CONTACT
            <span class="ripple"></span>
        </button>

    </div>
</section>

<section id="skills" class="relative w-screen h-fit bg-background_light-0 py-14">
    <div class="flex flex-col h-full w-full items-center">
        <p class="mobileTitle1 md:desktopTitle1 text-primary-0 mb-3 md:mb-0">Skills</p>
        <p class="mobileTitle2 md:desktopTitle2 text-white-0 font-semibold">MY SKILLS</p>
        <p class="mobileTitle3 md:desktopTitle3 text-gray-0">What i can do</p>
        <app-infinity-loop-scroll class="relative mt-8"></app-infinity-loop-scroll>        
    </div>
    <div class="pointer-events-none absolute w-32 md:w-72 top-0 left-0 h-full bg-gradient-to-r from-background_light-0 via-background-light to-transparent"></div>
    <div class="pointer-events-none absolute w-32 md:w-72 top-0 right-0 h-full bg-gradient-to-r from-background_light-0 via-background-light to-transparent rotate-180"></div>
</section>

<section id="work" class="relative w-screen h-fit bg-background_dark-0 py-14">
    <div class="flex flex-col h-full w-full items-center">
        <p class="mobileTitle1 md:desktopTitle1 text-primary-0 mb-3 md:mb-0">Work</p>
        <p class="mobileTitle2 md:desktopTitle2 text-white-0 font-semibold">MY WORK</p>
        <p class="mobileTitle3 md:desktopTitle3 text-gray-0">Most common methods for designing website that wok well on desktop is responsive and adaptive design</p>
    </div>

    <div class="flex space-x-4 my-8 justify-center w-screen">
        <button (click)="filterItems('all')" [ngClass]="{'text-primary-0': activeFilter === 'all', 'text-white-0 font-normal': activeFilter !== 'all'}"  class="text-primary-0 font-bold">All</button>
        <button (click)="filterItems('web')" [ngClass]="{'text-primary-0': activeFilter === 'web', 'text-white-0 font-normal': activeFilter !== 'web'}" class="text-primary-0 font-bold">Web Design</button>
        <button (click)="filterItems('app')" [ngClass]="{'text-primary-0': activeFilter === 'app', 'text-white-0 font-normal': activeFilter !== 'app'}" class="text-primary-0 font-bold">App Design</button>
        <button (click)="filterItems('branding')" [ngClass]="{'text-primary-0': activeFilter === 'branding', 'text-white-0 font-normal': activeFilter !== 'branding'}" class="text-primary-0 font-bold">Branding</button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 max-w-[950px] mx-auto p-5">
        <div *ngFor="let item of filteredItems; let i = index"
             [ngClass]="{
               'row-span-2': i === 0 || i >= 2,
               'row-span-1': i === 1
             }"
             class="relative bg-white text-black p-0 rounded-lg shadow-lg overflow-hidden work-item">
          <img [src]="item.image" alt="{{ item.title }}" class="w-full h-full object-cover image-animation transition-transform duration-300"/>
          <div class="overlay absolute inset-0 flex items-center justify-center p-4 opacity-0 transition-opacity duration-300 bg-black bg-opacity-50">
            <div class="overlay-content flex items-center justify-center h-full w-full">
              <button class="transition-transform transform scale-0 opacity-0 bg-blue-500 text-transparent py-2 px-4 rounded z-10">
                <span class="text-white">Read More</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    
    

</section>

<section id="contact" class="relative w-screen h-fit bg-background_light-0 py-14">
    <div class="flex flex-col h-full w-full items-center">
        <p class="mobileTitle1 md:desktopTitle1 text-primary-0 mb-3 md:mb-0">Contact</p>
        <p class="mobileTitle2 md:desktopTitle2 text-white-0 font-semibold">GET IN TOUCH</p>
        <p class="mobileTitle3 md:desktopTitle3 w-[280px] md:w-[680px] text-gray-0 text-center md:text-left">Send me an email</p>
    </div>
</section>