<section id="welkom" class="w-screen h-screen bg-background_dark-0">
    <div class="flex flex-col w-full h-full justify-center pl-4 sm:pl-8 md:pl-[90px] lg:pl-[200px] items-center md:items-start">
        <p class="text-primary-0 mobileTitle1 md:desktopTitle1 text-center md:text-left mb-3 md:mb-0">
            Welcome
        </p>
        <p class="mobileTitle2 text-white-0 font-semibold w-full sm:w-3/4 md:w-3/4 lg:w-full xl:w-full text-center md:text-left md:desktopTitle2">
            Hi, I'm <span id="typed-text" class="text-primary-0"></span>
        </p>
        <p class="mobileTitle3 md:desktopTitle3 w-[280px] md:w-[680px] text-gray-0 text-center md:text-left">
            I am a Full Stack Web Developer based in Belgium. I design and develop experiences that make people's lives easier.
        </p>
        <!-- Je component HTML bestand -->
        <button (click)="applyRipple($event)" class="magnet-button bg-primary-0 rounded-full w-fit px-4 sm:px-6 py-2 font-semibold mt-5 cursor-pointer text-center relative overflow-hidden">
            Get in touch
            <span class="ripple"></span>
        </button>

    </div>
</section>

<section id="skills" class="relative w-screen h-fit bg-background_light-0 py-14">
    <div class="flex flex-col h-full w-full items-center">
        <p class="mobileTitle1 md:desktopTitle1 text-primary-0 mb-3 md:mb-0">Skills</p>
        <p class="mobileTitle2 md:desktopTitle2 text-white-0 font-semibold">MY SKILLS</p>
        <p class="mobileTitle3 md:desktopTitle3 text-gray-0">What i can do</p>
        <app-infinity-loop-scroll class="relative mt-8"></app-infinity-loop-scroll>        
    </div>
    <div class="pointer-events-none absolute w-32 md:w-72 top-0 left-0 h-full bg-gradient-to-r from-background_light-0 via-background-light to-transparent"></div>
    <div class="pointer-events-none absolute w-32 md:w-72 top-0 right-0 h-full bg-gradient-to-r from-background_light-0 via-background-light to-transparent rotate-180"></div>
</section>

<section id="work" class="relative w-screen h-fit bg-background_dark-0 py-14">
    <div class="flex flex-col h-full w-full items-center">
        <p class="mobileTitle1 md:desktopTitle1 text-primary-0 mb-3 md:mb-0">Work</p>
        <p class="mobileTitle2 md:desktopTitle2 text-white-0 font-semibold">MY WORK</p>
        <p class="mobileTitle3 md:desktopTitle3 text-gray-0">Most common methods for designing website that wok well on desktop is responsive and adaptive design</p>
    </div>

    <div class="flex space-x-4 my-8 justify-center w-screen">
        <button (click)="filterItems('all')" [ngClass]="{'text-primary-0': activeFilter === 'all', 'text-white-0 font-normal': activeFilter !== 'all'}"  class="text-primary-0 font-bold">All</button>
        <button (click)="filterItems('website')" [ngClass]="{'text-primary-0': activeFilter === 'website', 'text-white-0 font-normal': activeFilter !== 'website'}" class="text-primary-0 font-bold">Web Design</button>
        <button (click)="filterItems('app')" [ngClass]="{'text-primary-0': activeFilter === 'app', 'text-white-0 font-normal': activeFilter !== 'app'}" class="text-primary-0 font-bold">App Design</button>
        <button (click)="filterItems('document')" [ngClass]="{'text-primary-0': activeFilter === 'document', 'text-white-0 font-normal': activeFilter !== 'document'}" class="text-primary-0 font-bold">Document</button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 max-w-[950px] mx-auto p-5">
        <div *ngFor="let item of filteredItems; let i = index"
             [ngClass]="{
               'row-span-2': i === 0 || i >= 2,
               'row-span-1': i === 1
             }"
             class="relative bg-white text-black p-0 rounded-lg shadow-lg overflow-hidden work-item">
          <img [src]="item.image" alt="{{ item.title }}" class="w-full h-full object-cover image-animation transition-transform duration-300"/>
 
        <div class="overlay absolute inset-0 flex items-center justify-center p-4 opacity-0 transition-opacity duration-300 bg-black bg-opacity-50">
            <div class="overlay-content flex items-center justify-center h-full w-full">
                <button class="transition-transform transform scale-0 opacity-0 bg-blue-500 text-transparent py-2 px-4 rounded z-10 cursor-pointer">
                    <span class="text-white">Read More</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    

</section>

<section id="contact" class="relative w-screen h-fit bg-background_dark-0 py-14 mx-auto pb-40">
    <div #flipCard class="relative w-full max-w-[950px] h-[80vh] md:h-[410px] mx-auto overflow-hidden perspective px-[30px]">
        <div class="flip-card" [ngClass]="{'flipped': isFlipped}">
            <!-- Flip Card Inner -->
            <div class="flip-card-inner">
                <!-- Front Side -->
                <div class="flip-card-front">
                    <img src="https://i.postimg.cc/wBvfBftc/image-70.png" alt="Background Image" class="background-image-front">
                    <div class="overlay">
                        <div class="content">
                            <p class="mobileTitle1 md:desktopTitle1 text-primary-0 mb-3 md:mb-0">Contact</p>
                            <p class="mobileTitle2 md:desktopTitle2 text-white-0 font-semibold">GET IN TOUCH</p>
                            <p class="mobileTitle3 md:desktopTitle3 text-gray-0 w-full text-center mb-5">Jaron.vantomme&#64;gmail.com</p>
                            <button *ngIf="!isFlipped" (click)="changeFlipCard()" class="magnet-button bg-white-0 text-black-0 rounded-full w-fit px-4 sm:px-6 py-2 font-semibold mt-5 cursor-pointer text-center relative overflow-hidden">
                                Send mail
                                <span class="ripple-dark"></span>
                            </button>
                            <div *ngIf="isFlipped" class="magnet-button mb-4 bg-white-0 text-black-0 rounded-full w-fit px-4 sm:px-6 py-2 font-semibold mt-5 cursor-pointer text-center relative overflow-hidden opacity-0">
                                Send mail
                                <span class="ripple-dark"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Back Side -->
                <div class="relative flip-card-back p-5">
                    <img src="https://i.postimg.cc/wBvfBftc/image-70.png" alt="Background Image" class="background-image-back">
                    <button (click)="closePopup()" class="absolute top-4 right-4 bg-none border-none cursor-pointer hover:opacity-80 w-fit h-fit z-50">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M27 9L9 27" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M9 9L27 27" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    <div class="overlay">
                        <form (submit)="sendEmail()" class="flex flex-col gap-4">
                            <p class="mobileTitle2 md:desktopTitle2 text-white-0 font-semibold text-center">CONTACT FORM</p>
                            <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Full name" required class="input-field"/>
                            <input type="number" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Phone number" required class="input-field"/>
                            <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="Your Email" required class="input-field"/>
                            <textarea #messageField name="message" [(ngModel)]="message" placeholder="Your Message" required class="input-field-area" (input)="adjustCardHeightSubject.next()"></textarea>
                            <button type="submit" class="submit-button">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




