<div class="w-screen h-screen bg-background_dark-0">
    <div class="flex flex-col w-full h-full justify-center pl-[200px]">
        <p class="desktopTitle1 text-primary-0">Welkom</p>
        <p class="desktopTitle2 text-white-0 font-semibold">Hi, I'm <span class="text-primary-0">Jaron Vantomme</span></p>
        <p class="desktopTitle3 w-4/6 text-gray-0">I am a Full Stack Web Developer based in Belgium. I design and develop experiences that make people's lives easier.</p>
        <button class="bg-primary-0 rounded-full w-fit px-6 py-2 font-semibold mt-5 cursor-pointer">CONTACT</button>
    </div>
</div>