<div id="work" class="timeline" #timelineContainer>
  <div class="scroll-indicator"></div>
  <ul>
    <li *ngFor="let item of workItems; let i = index" #timelineItem [ngClass]="item.isNewArea ? 'margin' : 'noMargin'">
      <div *ngIf="item.isNewArea && isAreaVisible()" class="timeline-point"></div>
      <div *ngIf="i === 0 && isAreaVisibleWithAnimation(i)" class="timeline-point-animation-1"></div>
      <div *ngIf="i === 0 && isAreaVisibleWithAnimation(i)" class="timeline-point-animation-2"></div>
      <div *ngIf="i === 0 && isAreaVisibleWithAnimation(i)" class="timeline-point-animation-3"></div>
      <div [ngClass]="item.isNewArea ? 'content' :'content-noArea'">
        <img class="content-img" [src]="item.image" [alt]="item.title">
        <div class="content-info">
          <h3 class="content-title">{{ item.title }}</h3>
          <p class="content-description">{{ item.areaDescription }}</p>
          <button class="content-button"  (click)="goToProjectDetails(item.id)">Read More</button>
        </div>
      </div>
      <!-- <div class="time" *ngIf="item.areaTime !== '' && isAreaVisibleWithAnimation(i) && i === 0">
        <p class="areaTime">{{ this.workItems[currentItemIndex].areaTime }}</p>
        <p class="areaTitle">{{ this.workItems[currentItemIndex].areaTitle }}</p>
        <p class="areaDescription">{{ this.workItems[currentItemIndex].areaDescription }}</p>
      </div>   -->
      <div class="time-one" *ngIf="i === 0">
        <p class="areaTime">2010-2016</p>
        <p class="areaTitle">Student IW</p>
        <p class="areaDescription">VTI Roeselare</p>
      </div>  
      <div class="time-two" *ngIf="i === 0">
        <p class="areaTime">2016-2022</p>
        <p class="areaTitle">Student MCT</p>
        <p class="areaDescription">Howest Kortrijk</p>
      </div>  
      <div class="time-three" *ngIf="i === 0">
        <p class="areaTime">2023 - Present</p>
        <p class="areaTitle">Afgestudeerd</p>
        <p class="areaDescription">Jobhopr</p>
      </div>  
      <div class="time" *ngIf="item.isNewArea && isAreaVisible()">
        <p class="areaTime">{{ this.item.areaTime }}</p>
        <p class="areaTitle">{{ this.item.areaTitle }}</p>
        <p class="areaDescription">{{ this.item.areaDescription }}</p>
      </div>
    </li>
  </ul>
  
</div>
