<div id="work" class="timeline" #timelineContainer>
  <div class="scroll-indicator"></div>
  <ul>
    <li class="projectItemContainer" *ngFor="let item of workItems; let i = index" #timelineItem [ngClass]="item.isNewArea ? 'margin' : 'noMargin'">
      <div *ngIf="item.isNewArea && isAreaVisible()" class="timeline-point"></div>
      <ng-container *ngIf="i === 0 && isAreaVisibleWithAnimation(i)">
        <div *ngFor="let index of generateArray(areaData.length)" [class]="'timeline-point-animation-' + (index + 1)">
        </div>
      </ng-container>
      <div [ngClass]="item.isNewArea ? 'content' :'content-noArea'">
        <img class="content-img" [src]="item.image" [alt]="item.title">
        <div class="content-info">
          <h3 class="content-title">{{ item.title }}</h3>
          <p class="content-description">{{ item.areaDescription }}</p>
          <button class="content-button"  (click)="goToProjectDetails(item.id)">{{ getTranslation('ReadMore') }}</button>
        </div>
      </div>

      <ng-container *ngIf="i === 0">
        <div *ngFor="let area of areaData; let j = index" [class]="'time-' + getIndexAsWord(j)">
          <p *ngIf="i === 0" class="areaTime">{{ area.areaTime }}</p>
          <p *ngIf="i === 0" class="areaTitle">{{ area.areaTitle }}</p>
          <p *ngIf="i === 0" class="areaDescription">{{ area.areaDescription }}</p>
        </div>
      </ng-container>
      
      <div class="time" *ngIf="item.isNewArea && isAreaVisible()">
        <p class="areaTime">{{ item.areaTime }}</p>
        <p class="areaTitle">{{ item.areaTitle }}</p>
        <p class="areaDescription">{{ item.areaDescription }}</p>
      </div>
    </li>
  </ul>
  
</div>
